/*CSS reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

/*doboz szinezés*/
/*
.aboutme {
  background-color: hsla(159, 66%, 27%, 0.18);
}

.head {
  background-color: hsla(146, 100%, 51%, 0.18);
}

.name-headline {
  background-color: hsla(277, 100%, 27%, 0.18);
}

.content {
  background-color: hsla(16, 66%, 19%, 0.18);
}

.about {
  background-color: hsla(350, 0%, 19%, 0.19);;
}

.links {
  background-color: hsla(350, 85%, 58%, 0.19);
}
*/

img {
  width: 340px;
  height: 330px;
  border-radius: 10%;
  transition: all 0.5s ease-in-out;
}

img:hover{
  width: 450px;
  height: 440px;
}

.aboutme {
  width:500px;
  max-width: calc(100vw - 10px);
  background: url('https://cdn.pixabay.com/photo/2016/02/19/11/33/trees-1209774_960_720.jpg') no-repeat center center fixed;
  background-size: cover;
  border-radius:10%;
  border: 1px solid gray;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items:center;
  background: url('https://cdn.pixabay.com/photo/2016/02/19/11/33/trees-1209774_960_720.jpg') center center fixed;
}

.name-headline, .content {
  width: 90%;
  margin: 0 auto;
}

.head, .links{
  text-align:center;
}

.name-headline {
  margin-top:-180px;
  height:280px;
  line-height:20px;
}

h2{
  padding-bottom: 145px;
}

ul {
  list-style-type:none;
}

li{
  display:inline;
  padding: 10px;
  transition: all 0.5s ease-in-out;
}

li:hover{
  transform: scale(1.1);
}

h1, h2{
  color:white;
  font-family: 'Pattaya', sans-serif;
}

p{
  text-align:center;
}

.about{
  padding: 5px 5px 5px 5px;
  transition: all 0.5s ease-in-out;
}

.links{
  padding: 5px 5px 5px 5px;
}

h1{
  font-size:20px;
  padding-left: 50px;
}

.school{
  padding-left: 10px;
  font-size:15px;
}

h2{
  padding-left:30px;
}

a{
  color:rgba(0, 255, 255,.9);
}

a:hover{
  color:rgba(255, 127, 133,.5);
}

.map{
  color:white;
  font-size:16px;
  font-family: 'Pattaya', sans-serif; 
}

p{
  line-height:20px;
  font-size:16px;
  color:white;
  font-family: 'Pattaya', sans-serif;  
}

.about:hover{
  font-size: 5px;
  transform: scale(1.6);
}

.fa{
  transition: all 0.5s ease-in-out;
}

.fa:hover{
  transform: scale(1.2);
}

.from{
  transition:all 5s;
  line-height: 20px;
}

.from:hover{
  transform: rotate(360deg);
}